@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


$beige: #f0e2d3;
$grey: #eeeeee;
$main-txt-light: #fbf6ef;
$main-txt-dark: #020202;

$blue : #1b05d2;
$blue-klein : #002fa7;


$hero-font: 'Nanum Myeongjo', serif;
$txt-font: 'Roboto', sans-serif;
$title-font: 'Poppins', sans-serif;
$main-font: 'Inter', sans-serif;


