

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-height: 3rem;
    padding: 1rem 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: transparent;
    font-size: 1.7rem;
    font-weight: 200;
    
    a {
        color: $grey;
        font-family: $title-font;
    }
   
    .logo{
        font-family: $title-font;
        text-transform: uppercase;
        color: $grey;
        overflow: hidden;
        
        &:hover{
            transform: scale(1.1);
        }
    }
}

//fixed navbar when scroll

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.078);
    backdrop-filter: blur(2rem);

}

.fixed a {
    color: $blue;
}

.fixed .logo {
    color: $blue;
}

@media (max-width: 959px) {
    header {
        font-size: 1.5rem;
    }
}
@media (max-width: 770px) {
    header {
        font-size: 1rem;
    }
}
@media (max-width: 580px) {
    header {
        font-size: 1.3rem;
    }
}
@media (max-width: 450px) {
    header {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}
 


   





